<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>GIDClientID</key>
	<string>242137900861-b24taodbnr2toeivmtr3v32qlchscbu6.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.242137900861-b24taodbnr2toeivmtr3v32qlchscbu6</string>
			</array>
		</dict>
	</array>
	<key>GIDServerClientID</key>
	<string>242137900861-c742e0crp64s5jen7u11fu517t7mtbu7.apps.googleusercontent.com</string>
</dict>
</plist>
