.calendarModule {
  font-size: 25px;
}

.calendarModule .event {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  padding: 2px 8px;
  color: whitesmoke;
  display: flex;
  justify-content: start;
}

.calendarModule .event .title {
  font-weight: bold;
}

.calendarModule .event:not(:first-child) {
  margin-top: 4px;
}

.calendarModule .allDay {
  margin-bottom: 0;
}

.calendarModule .timed .event.current {
  background-color: grey;
  transition: background-color 0.5s linear;
}

.calendarModule .divider {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.calendarModule .divider .line {
  height: 2px;
  flex: 1;
  background-color: gray;
}
.calendarModule .divider .text {
  padding-right: 5px;
}

.calendarModule .timed .title {
  text-transform: capitalize;
}

.calendarModule .timed .time {
  padding-right: 10px;
}
.calendarModule .module-header {
  border-bottom: none;
  color: whitesmoke;
  padding-bottom: 0;
  margin-bottom: 0;
}

:root {
  --gap-body-top: 20px;
  --gap-body-right: 10px;
  --gap-body-bottom: 10px;
  --gap-body-left: 10px;
}

.region.top.right,
.region.top.left,
.region.top.center {
  top: 0%;
}
.clockGrid {
  gap: 0;
}
