.calendarModule .event {
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 5px;
  padding: 2px 8px;
  color: whitesmoke;
  display: flex;
  justify-content: start;
}

.calendarModule .event .title {
  font-weight: bold;
}

.calendarModule .timed .event:not(:first-child) {
  margin-top: 4px;
}

.calendarModule .allDay {
  margin-bottom: 15px;
}

.calendarModule .timed .event.current {
  background-color: grey;
}

.calendarModule .divider {
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray;
}

.calendarModule .timed .title {
  text-transform: capitalize;
}

.calendarModule .timed .time {
  padding-right: 10px;
}
.calendarModule .module-header {
  border-bottom: 2px solid var(--color-text-dimmed);
  color: whitesmoke;
}

:root {
  --gap-body-top: 20px;
  --gap-body-right: 10px;
  --gap-body-bottom: 10px;
  --gap-body-left: 10px;
}

body {
  max-width: 460px;
  max-height: 800px;
}

.region.top.right,
.region.top.left,
.region.top.center {
  top: 0%;
}
.clockGrid {
  gap: 0;
}
