.photosModule .fullscreen {
  width: 100vw;
  height: 100vh;
}
.photosModule .image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.photosModule img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}
.photosModule .background {
  width: 100%;
  height: 100%;
  background-color: black;
  filter: blur(1.5rem) brightness(70%);
}

.photosModule .fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
